.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  border: solid 1px #ff7b00;
  border-radius: 20px;
  background: #dda876ab;
  margin: 1.5rem;
  max-width: 290px;
  min-width: 290px;
  max-height: 370px;
  min-height: 370px;
  padding: 1rem;
  text-align: center;
}

.card:hover {
  background: #dda876;
  box-shadow: 1px 1px 6px 5px #ff7b00;
  transition: 200ms;
}

.card img {
  border-radius: 20px;
  height: 230px;
  width: 230px;
}

.card img:hover {
  box-shadow: 1px 1px 6px 6px #ff7b00;
  transition: 200ms;
}
